* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
    animation: bodyFade 1s ease-in-out;
}

header {
    background: #1f1f1f;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header h1 {
    color: #00c9ff;
}

nav .button {
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #ccc;
    color: #ccc;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav .button:hover {
    background: #00c9ff;
    color: #000;
    border-color: #00c9ff;
}

.BashVim {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.container {
    background-color: rgba(80, 80, 80, 0.9);
    border-radius: 15px;
    padding: 30px 40px;
    width: 70%;
    margin-bottom: 40px;
    box-shadow: 0 6px 18px rgba(0, 0, 0);
}

h2 {
    color: #ffa07a;
    font-size: 25px;
}

h3 {
    color: #ffd1a4;
    margin-top: 20px;
    font-size: 20px;
}

h4 {
    color: #fcd5ce;
    font-size: 18px;
    margin-top: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.5;
}

a {
    color: #00bcd4;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #ff4081;
}