* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
    animation: bodyFade 1s ease-in-out;
}

header {
    background: #1f1f1f;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header h1 {
    color: #00c9ff;
}

nav .button {
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid #ccc;
    color: #ccc;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav .button:hover {
    background: #00c9ff;
    color: #000;
    border-color: #00c9ff;
}

.worklink {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.worklink a {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #242424;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.worklink a:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05);
}