<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body>
    <header>
        <h1 onclick="location.href='/'">Climatenet</h1>
        <nav>
            <button onclick="location.href='/'" class="button">Home</button>
            <button onclick="location.href='/climatenet'" class="button">Climate</button>
            <button onclick="location.href='/work'" class="button">Three months of work</button>
            <button onclick="location.href='/me'" class="button">About Me</button>
            <div class="nav_box">
                <a onclick="location.href='/SignIn'" class="link">Sign In</a>
                <span class="divider"></span>
                <a onclick="location.href='/LogIn'" class="link">Log In</a>
            </div>
        </nav>
    </header>
</body>

</html>