<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/raspberry.css') }}">
</head>

<body>
    <header>
        <h1 onclick="location.href='/'" style="cursor: pointer;">Climatenet</h1>
        <nav>
            <button onclick="location.href='/'" class="button">Home</button>
            <button onclick="location.href='/climatenet'" class="button">Climate</button>
            <button onclick="location.href='/work'" class="button">Three months of work</button>
            <button onclick="location.href='/me'" class="button">About Me</button>
        </nav>
    </header>
    
    <div class="container">
        <h1>Ինչ է Raspberri Pi?</h1>
        <img src="https://www.raspberrypi.org/assets/components/site/header/foundation-logo-b0f19781e462be54d3371c3da03431bb6dc407fca9f36820d27a7ff4e673406e.svg">
        <p>
            <strong>Raspberry Pi</strong> — Դա փոքր, բայց հզոր համակարգիչ է, որը մշակվել է Մեծ Բրիտանիայում Raspberry Pi
            հիմնադրամի կողմից։
            Այն օգտագործվում է վերապատրաստման, DIY նախագծերի, ավտոմատացման և նույնիսկ արդյունաբերության մեջ։
            Raspberry Pi-ն մատչելի և բազմաֆունկցիոնալ սարք է, որը թույլ է տալիս սովորել ծրագրավորում, էլեկտրոնիկա և
            համակարգչային ճարտարապետություն։
            Այն ունի GPIO (General Purpose Input/Output) փիներ, որոնք թույլ են տալիս միացնել սենսորներ, շարժիչներ և այլ
            արտաքին սարքեր՝ դարձնելով այն իդեալական ընտրություն ռոբոտաշինության և խելացի համակարգերի նախագծման համար։
        </p>
        <h2>Առավելություններ:</h2>
        <ul>
            <li>Էժան և կոմպակտ</li>
            <li>Աջակցում է Linux համակարգ (օրինակ ՝ Raspberry Pi OS)</li>
            <li>GPIO կապում սենսորների և մոդուլների միացման համար</li>
            <li>Լավ տարբերակ է ծրագրավորում սովորելու համար</li>
        </ul>
        <h2>Օգտագործման օրինակներ:</h2>
        <ul>
            <li>DIY և հոբբի նախագծեր</li>
            <li>Կրթություն</li>
            <li>Արդյունաբերություն</li>
            <li>Սերվերներ և ցանցեր</li>
        </ul>
        <p>Պաշտոնական կայք: <a href="https://www.raspberrypi.com/" target="_blank">raspberrypi.com</a></p>
    </div>
</body>

</html>