<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/user_profile.css') }}">
    <title>User Profile</title>
</head>
<body>

<div class="container">
    <div class="profile-header">
        <h1>User Profile</h1>
    </div>

    <div class="profile-details">
        <div>
            <span class="label">Username:</span>
            <span class="value">{{ username.username }}</span>
        </div>
    </div>

</div>

</body>
</html>
