<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/work.css') }}">
    <title>Work</title>
</head>

<body>
    <header>
        <h1 onclick="location.href='/'" style="cursor: pointer;">Climatenet</h1>
        <nav>
            <button onclick="location.href='/'" class="button">Home</button>
            <button onclick="location.href='/climatenet'" class="button">Climate</button>
            <button onclick="location.href='/work'" class="button">Three months of work</button>
            <button onclick="location.href='/me'" class="button">About Me</button>
        </nav>
    </header>

    <div class="worklink">
        <a href="/work?path=raspberry">Raspberry</a>
        <a href="/work?path=Communication">Wired Communication</a>
        <a href="/work?path=BashVim">Bash & Vim</a>
    </div>

</body>

</html>